<!DOCTYPE html>

<html>
<head>

{{!-- <img src="img/header1.jpg"> --}}

  <title>foodagram</title>

  <link rel='stylesheet' href='css/app.css'>

  <script src="js/millsagram-functions.js" type='text/javascript'></script>
  <script type="text/javascript" src="js/instafeed.js"></script>

</head>
<body>

{{!-- Header to appear on every page  --}}

<div id="foodagram_header">
<img src="img/stars.jpg" width=40px>
<strong>foodagram</strong>
<img src="img/stars.jpg" width=40px>
</div>

<hr size=2px color=#db973f width=80%></hr>

{{{body}}}
<br>
{{!-- © Millsy productions, 2015   --}}

</body>
</html>